.header {
    position: relative;
    margin-left: auto;
    margin-right: auto; }
  
  .back {
    background: #212d3a;
    height: 60px;
    width: 100%; }
  
  .in {
    background-image: url("img/back.png"); }
  
  .tw {
    background-image: url("img/back.png"); }
  
  .pn {
    background-image: url("img/back.png"); }
  
  .gp {
    background-image: url("img/back.png"); }
  
  .rss {
    background-image: url("img/back.png"); }
  
  .link_in {
    margin: 0 5px;
    background-repeat: no-repeat; }
  
  .link_in:hover {
    background-image: url("img/in-back.png");
    background-repeat: no-repeat; }
  
  .link_tw {
    margin: 0 5px;
    background-repeat: no-repeat; }
  
  .link_tw:hover {
    background-image: url("img/tw-back.png");
    background-repeat: no-repeat; }
  
  .link_pn {
    margin: 0 5px;
    background-repeat: no-repeat; }
  
  .link_pn:hover {
    background-image: url("img/pin-back.png");
    background-repeat: no-repeat; }
  
  .link_gp {
    margin: 0 5px;
    background-repeat: no-repeat; }
  
  .link_gp:hover {
    background-image: url("img/google-plus-back.png");
    background-repeat: no-repeat; }
  
  .link_rss {
    margin: 0 5px;
    background-repeat: no-repeat; }
  
  .link_rss:hover {
    background-image: url("img/rss-back.png");
    background-repeat: no-repeat; }
  
  .sosial {
    display: flex;
    font-family: fantasy;
    position: absolute;
    left: 0px;
    margin-left: 20px;
    margin-top: 10px; }
  
  .form-my .form-control {
    width: 210px;
    background: none;
    border: 0px; }
  
  .form-my {
    display: inline-flex;
    align-items: center;
    border-radius: 1.25rem;
    background: #2e3f51;
    height: 25px;
    font-family: fantasy;
    margin-left: 853px; }
  
  .form-my .btn {
    background: none;
    padding: 5px; }
  
  .form-my .form-control:focus {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25); }
  
  .form-my .btn:focus {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25); }
  
  .header_backgroung {
    background: #fff;
    height: 126px;
    width: 100%; }
  
  .header {
    position: relative;
    margin-left: auto;
    margin-top: auto; }
  
  .headline {
    position: relative;
    width: 430px;
    height: 126px;
    font-family: Georgia;
    float: left;
    margin-left: 20px;
    margin-top: 10px; }
  
  h1 {
    font-weight: normal;
    color: #4a4a4a; }
  
  p {
    font-family: Georgia, sans-serif;
    color: #999999; }
  
  .menu {
    width: 580px;
    height: 126px;
    float: right;
    margin-top: 50px; }
  
  .nav {
    display: inline;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: Georgia; }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden; }
  
  ul li {
    margin-right: 10px;
    float: left;
    display: inline-flex; }
  
  ul li a {
    color: #999999; }
  
  ul li a:hover {
    color: black;
    text-decoration: none; }
  
  .back2 {
    position: relative;
    background: #2e3f51;
    width: 100%;
    height: 530px; }
  
  .block-slider {
    position: absolute;
    display: block;
    background: #303030;
    height: 450px;
    width: 1308px;
    left: 20px;
    top: 40px; }
  
  h3 {
    font-family: Georgia;
    position: absolute;
    color: #fff;
    left: 25px;
    top: 75px;
    text-align: left; }
  
  .quote {
    font-family: Georgia;
    position: absolute;
    color: #fff;
    left: 25px;
    top: 130px;
    text-align: left;
    width: 240px; }
  
  h6 {
    font-family: Georgia;
    position: absolute;
    color: #fff;
    left: 25px;
    top: 400px;
    text-align: right;
    width: 240px;
    font-weight: normal; }
  
  .img-arrow {
    position: absolute;
    left: 20px;
    top: 20px; }
  
  h2 {
    position: absolute;
    color: #fff;
    top: 210px;
    right: 500px;
    font-weight: normal; }
  
  .conteiner {
    position: relative;
    background: #fff;
    width: 100%;
    height: 557px; }
  
  hr {
    background-color: #d4d4d4;
    border: none;
    height: 1px; }
  
  .quote_next {
    font-style: italic;
    text-align: center;
    margin-top: 38px;
    color: #505050;
    font-size: 24px; }
  
  .left {
    position: absolute;
    left: 90px;
    top: 10px;
    float: left; }
  
  .right {
    position: absolute;
    right: 90px;
    top: 10px;
    float: right; }
  
  .content_wrapper {
    margin-left: 20px;
    display: flex;
    margin-top: 40%; }
  
  .content_left_1 {
    width: 37%; }
  
  .text h4 {
    color: #1f1f1f;
    width: 320px;
    font-weight: normal;
    font-size: 20px; }
  
  .text p {
    color: #807d77;
    width: 320px;
    text-align: justify;
    font-size: 17px; }
  
  .shadow1 {
    width: 320px;
    border: 6px solid #f9f9f9;
    box-shadow: 3px 3px #bfbfbf;
    margin-bottom: 25px; }
  
  .text a {
    text-decoration: none;
    text-transform: capitalize;
    color: #2e3f51;
    font-weight: bold; }
  
  .content_left_2 {
    display: block; }
  
  .text2 h4 {
    color: #1f1f1f;
    width: 320px;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 0px; }
  
  .text2 p {
    color: #807d77;
    width: 320px;
    text-align: justify;
    font-size: 17px; }
  
  .shadow2 {
    width: 320px;
    border: 6px solid #f9f9f9;
    box-shadow: 3px 3px #bfbfbf;
    margin-bottom: 25px; }
  
  .text2 a {
    text-decoration: none;
    text-transform: capitalize;
    color: #2e3f51;
    font-weight: bold; }
  
  .content_3 {
    margin-left: auto;
    margin-right: 20px; }
  
  .text_3 h4 {
    color: #1f1f1f;
    width: 320px;
    font-weight: normal;
    font-size: 20px; }
  
  .img_3 {
    margin: 8px; }
  
  .img_right_1 {
    margin: 5px; }
  
  .text_3 p {
    color: #807d77;
    width: 320px;
    font-size: 15px; }
  
  .text_3 a {
    text-decoration: none;
    width: 300px;
    text-transform: capitalize;
    color: #2e3f51;
    font-weight: bold; }
  
  .text_4 h4 {
    color: #1f1f1f;
    width: 320px;
    font-weight: normal;
    font-size: 20px;
    margin-top: 30px; }
  
  .img_4 {
    margin: 8px; }
  
  .img_right_2 {
    margin: 5px; }
  
  .text_4 p {
    color: #807d77;
    width: 320px;
    font-size: 15px; }
  
  .text_4 a {
    text-decoration: none;
    width: 300px;
    text-transform: capitalize;
    color: #2e3f51;
    font-weight: bold; }
  
  .back-footer {
    background: #eeeeee;
    width: 100%;
    height: 418px; }
  
  .footer {
    margin-top: 40px;
    display: flex; }
  
  .block_left {
    margin: 20px;
    width: 55%; }
  
  .block1 h4 {
    text-decoration: none;
    font-family: Georgia;
    text-transform: capitalize;
    color: #505050;
    margin-top: 10px;
    margin-left: 10px; }
  
  .picture1 {
    outline: 2px solid #8e8f8a;
    border: 6px solid #eeeeee;
    margin: 15px;
    margin-top: 40px; }
  
  .block1 p {
    color: #737373; }
  
  .block1 h5 {
    margin-top: 45px; }
  
  .picture2 {
    outline: 2px solid #8e8f8a;
    border: 6px solid #eeeeee;
    margin: 15px; }
  
  .block2 p {
    color: #737373; }
  
  .block2 h5 {
    margin-top: 45px; }
  
  .block_center {
    width: 23%; }
  
  .block_center1 {
    display: block;
    margin-left: 45px; }
  
  .block_center1 h4 {
    text-decoration: none;
    font-family: Georgia;
    text-transform: capitalize;
    color: #505050;
    margin-top: 30px;
    margin-bottom: 27px; }
  
  .block_center1 p {
    color: #737373; }
  
  .block_center2 {
    display: block;
    margin-left: 45px; }
  
  .block_center2 p {
    color: #737373;
    margin-top: 25px; }
  
  .block_right {
    width: 30%; }
  
  .block_right h4 {
    text-decoration: none;
    font-family: Georgia;
    text-transform: capitalize;
    color: #505050;
    margin-top: 30px;
    margin-bottom: 27px;
    margin-left: 90px; }
  
  .box1 {
    display: flex;
    float: right; }
  
  .picture1_box1 {
    margin: 15px; }
  
  .picture2_box1 {
    margin: 15px; }
  
  .picture3_box1 {
    margin: 15px; }
  
  .box2 {
    display: flex;
    float: right; }
  
  .picture4_box2 {
    margin: 15px; }
  
  .picture5_box2 {
    margin: 15px; }
  
  .picture6_box2 {
    margin: 15px; }
  
  .box3 {
    display: flex;
    float: right; }
  
  .picture7_box3 {
    margin: 15px; }
  
  .picture8_box3 {
    margin: 15px; }
  
  .picture9_box3 {
    margin: 15px; }
  
  .copyright_background {
    background-color: #eeeeee;
    border-top: 3px solid #e0e0e0; }
  
  .copyright {
    display: flex; }
  
  .left_text {
    width: 100%;
    margin-left: 30px;
    font-family: Georgia, sans-serif;
    color: #737373;
    margin-top: 25px; }
  
  .right_text {
    width: 100%;
    margin-right: 30px;
    font-family: Georgia, sans-serif;
    color: #737373;
    text-align: right;
    margin-top: 25px; }
  .row_my-wrapper{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 100px;
    left: 400px;
  }
